/* CSS Reset by Josh Comeau
url: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Oswald';
  src: url(./fonts/Oswald/static/Oswald-SemiBold.ttf);
}

body {
  display: flex;
  background-image: url("./imgs/plant.jpg");
}

.left, .right {
  height: 100vh;
}

.left {
  width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250,250,250);
  flex-grow: 2;
}

p {
  font-family: "Oswald", sans-serif;
}

.odin {
  width: 3em;
  height: auto;
}

.logo_text, .odin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  color: white;
  margin-bottom: 10px;
  font-size: 10px;
  align-self: center;
}

.upper_third {
  /* width: 100%; */
  margin-top: 175px;
  background-color: rgba(0,0, 0, 0.6);
  display: flex;
  justify-content: center;
}

.logo_text {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  color: white;
}

form {
  display: flex;
  flex-direction: row;
  /* color: rgba(250, 250, 250); */
  box-shadow: 0px 4px 2px 0px rgba(0,0,0, 0.1);
  margin-top: 15px;
}

.input_row {
  display: flex;
  flex-direction: column;
}

.top, .bottom {
  width: 100%;
  background-color: rgb(250,250,250);
  margin-left: 30px;
}

.middle {
  background-color: rgb(255,255,255);
  /* margin-left: 15px; */
}

.middle > p {
  margin-top: 15px;
}

.middle > p, form {
  margin-left: 30px;
}

.ital {
  font-style: italic;
}

.pitch {
  font-size: 18px;
}

.pitch, .last_bit {
  width: 500px;
}

.last_bit {
  font-size: 18px;
  margin-bottom: 35px;
}

label {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: .1em;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.footer > a {
  font-size: 10px;
  color: white;
}


button {
  width: 175px;
  height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #596D48;
  color: white;
  border-radius: 5px;
  border: none;
} 

input {
  margin-bottom: 20px;
  margin-right: 60px;
}

a {
  color: #596D48;
  text-decoration: none;
}

input {
  border: 1px solid #E5E7EB;
}

input:invalid {
  border: 1px solid #b61a1a;
}

input:focus {
  border: 1px solid #1a49b6;
  box-shadow: 1px 2px 6px 0px #1a49b6;
}


  /* Photo by <a href="https://unsplash.com/@photofil?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Philippe Mignot</a> on <a href="https://unsplash.com/photos/silhouette-person-walking-at-walkway-Afqw8XrP1V8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */